.container {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 3%;
}

.titleHome {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  font-family: 'Press Start 2P', cursive;
  font-size: 32px;
  color: #d4f51c;
  text-shadow: 2px 2px #ff0066, 4px 4px #ffcc00;
  text-align: center;
  letter-spacing: 2px;
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


.testoHome {
  color: black;
  text-align: center;
  width: 40%;
  height: 55%;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0 auto;
  font-size: 2rem;
  text-shadow: 0 0 5px #00FF00, 0 0 10px #00FF00;
  filter: blur(0.5px);
  z-index: 1;
}

.bodyHome {
  background-image: url(../../public/img/arcade.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position:50%;
  max-width: 1600px;
  width: 90%;
  text-align: center;
  border: 2px solid #ff0022;
  box-shadow: 0 0 10px #ff0000, 0 0 20px #00ffcc, 0 0 30px #00ffcc;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulseBorder 2s infinite alternate;
}

@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #00ffcc;
  }
  50% {
    box-shadow: 0 0 20px #ff0000, 0 0 40px #ff0000, 0 0 60px #00ffff;
  }
  100% {
    box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #00ffcc;
  }
}
@media (max-width: 1550px) {

  .testoHome {
   
    font-size: 2rem;
    
  }
 
}
@media (max-width: 1200px) {
  .titleHome {
    font-size: 28px;
    padding: 20px;
  }
  .testoHome {
    font-size: 1.3rem;
    padding-top: 25px;
  }
}
@media (max-width: 1000px) {
  .testoHome {
    padding: 0;
    font-size: 1.1rem;
    padding-top: 150px;
    z-index: 0;
  }
}

@media (max-width: 860px) {
  .titleHome {
    font-size: 24px;
    padding: 15px;
    flex-direction: column;
  }
  .testoHome {
    font-size: 1.1rem;
    z-index: 0;
    padding-top: 120px ;
  }

  .bodyHome {
    
            background-size: cover;
            background-repeat:no-repeat;
            background-position:50%;
            max-width: 1600px;
            text-align: center;
            border: 2px solid #ff0022;
            box-shadow: 0 0 10px #ff0000, 0 0 20px #00ffcc, 0 0 30px #00ffcc;
            border-radius: 10px;
            margin: 0 auto;
            padding: 20px;
            animation: pulseBorder 2s infinite alternate;
  }


}
@media (max-width: 770px) {
  
  .testoHome {
    font-size: 1rem;
    z-index: 0;
    padding-top: 100px ;
  }

}
@media (max-width: 680px) {
  
  .testoHome {
    font-size: 0.9rem;
    padding-top: 100px ;
  }

}

@media (max-width: 560px) {
  
  .testoHome {
    font-size: 0.8rem;
    z-index: 0;
    padding-top: 90px ;
  }

}

@media (max-width: 429px) {
  .titleHome {
    font-size: 20px;
    padding: 10px;
    flex-direction: column;
    text-align: center;
  }


  .testoHome {
    font-size: 0.8rem;
    width: 60%;
    z-index: 0;
    padding-top: 120px ;
  }
}

  